<ion-view view-title="Chat">
  <ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-dark ">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
          <div ng-if="totalbadge > 0" class="centerbadge badge badge-assertive">{{totalbadge}}</div>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent">
        <ion-view view-title="Cyber Engagement">
          <ion-content has-bouncing="true" class="content">
            <div>
              <ul id="messages">
                <li ng-class="{'message':message.style,'log':!message.style}" ng-repeat="message in activeUser.messages">
                  <span ng-show="message.style" ng-style="{color:message.color}">{{message.username}} : </span>
                  <span ng-show=!message.audio  ng-bind-html="message.content | nl2br"></span>
                  <audio ng-show="message.audio" dynamic-url controls="true" src=""
                         dynamic-url-src="{{message.url}}"></audio>
                </li>
                <li class="message">
                  <span ng-show="message.style" ng-style="{color:message.color}">{{message.username | }} : </span>
                  <div class="card">
                    <div class="item item-divider">
                      Please choose which from the following categories the trouble you're experiencing best fits in:
                    </div>
                    <div class="item item-text-wrap"  ng-click="sendTextMessage('Dial Tone')">
                      1. Dial Tone
                    </div>
                    <div class="item item-text-wrap">
                      2. Voice Mail
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </ion-content>
          <div class="list light-grey bottommsg">
            <div class="item item-input-inset light-grey">
              <label class="item-input-wrapper line-light-grey nopadtop">
                <input class="line-light-grey" type="text" placeholder="Message" ng-enter="sendMessage()" ng-model="txt">
              </label>
              <div class="divsend">
                <button class="button button-clear ion-android-send iconsend" ng-click="sendMessage()"></button>
              </div>
            </div>
          </div>
        </ion-view>
      </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
      <ion-header-bar class="bar-dark">
        <h1 class="title">Conversation List</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item menu-close ng-repeat="user in userlist" ng-click="selectUser($index)" ng-class="{active: activeUser == user}">
            {{user.username}} <span ng-if="user.badge>0" class="badge badge-assertive">{{user.badge}}</span>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</ion-view>
