<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <script src="lib/ionic/js/angular/angular.js"></script>
    <script src="js/ui-bootstrap-tpls-0.14.3.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.js"></script>
    <!--<script src="lib/ionic/js/angular/angular.js"></script>-->
    <script src="lib/ionic/js/angular-ui/angular-ui-router.js"></script>
    <script src="lib/ionic/js/angular/angular-animate.js"></script>
    <script src="lib/ionic/js/angular/angular-touch.js"></script>
    <script src="lib/ionic/js/angular/angular-sanitize.js"></script>
    <script src="lib/ionic/js/ionic-angular.js"></script>
    <script src="lib/sha1.js"></script>

    <!--<script src="lib/angular-aria/angular-aria.min.js"></script>-->
    <!--<script src="lib/angular-material/angular-material.js"></script>-->
    <!--<link href="lib/angular-material/angular-material.css" rel="stylesheet">-->
    <!-- moment -->
    <!--<script src="lib/moment.min.js"></script>-->
    <!-- angular moment -->
    <!--<script src="lib/angular-moment.min.js"></script>-->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <!--<script src="lib/socket.io-client/socket.io.js"></script>-->
    <!--<script src="lib/angular-socket-io/socket.js"></script>-->

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <!--<script src="js/services/socket.js"></script>-->
    <script src="js/services/http.js"></script>

    <script src="js/services/project.js"></script>
    <script src="js/controllers/ChatController.js"></script>
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>

  </head><body ng-app="co-engage">
    <ion-nav-view></ion-nav-view>
    <!--<script type="text/ng-template" id="customPopupTemplate.html">-->
      <!--<div class="custom-popup-wrapper dropup"-->
           <!--ng-style="{top: position().top-254+'px', left: position().top+'px'}"-->
           <!--style="display: block;"-->
           <!--ng-show="isOpen() && !moveInProgress"-->
           <!--aria-hidden="{{!isOpen()}}">-->
        <!--<ul class="dropdown-menu" role="listbox">-->
          <!--<li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"-->
              <!--ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">-->
            <!--<div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</script>-->
    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view class="fit">
        <ion-content scroll="false">
          <div class="list">
            <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              Email Conversation
            </a>
            <a class="item" ng-click="logoff()">
              Log Off
            </a>
            <a class="item" href="http://www.cyberobject.com/" target="_blank">
              About Us
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
  </body>
</html>
